* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;

}

/* 
.container {
    margin: 0 auto;
    border: 3px solid black;
} */

/*h1 heading with "Odin Recipes*/
.heading {
    /* font-family: 'Chewy', cursive; */
    font-family: "Source Sans Pro", "Poppins", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-variant: small-caps;
    text-align: center;
    font-weight: 500;
    line-height: 25px;
    color: rgb(0, 0, 0);
    /* text-shadow: 2px 2px rgb(15, 90, 170); */

    padding-bottom: 20px;
    border-bottom: 3px solid #333;
}

/*menu item container - includes all items*/
.menu-item {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    /* justify-content: center; */
    max-width: 800px;
    min-height: 120px;
    /* position: relative; */
    /* margin-bottom: 18px; */
    /* align-content: center; */
    /* align-items: center; */
    margin: 18px auto;


    background-color: rgb(200, 225, 200);


}

.menu-item:hover{
    /* border: 2px solid rgb(49, 46, 180); */
    box-shadow: 7px 7px 24px rgb(73, 82, 212);
}

/*Image style part*/
.menu-item-img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 10px;
    top: 7px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;

    /* border: 2px solid green; */
    box-shadow: 5px 5px rgb(120, 175, 120);
}

/*Working with text part*/
.menu-item-text {
    flex-grow: 1;
    position: inherit;
    /* align-items: center; */
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.menu-item-name {
    position: relative;
    margin-right: 1.5em;
    /* border: 2px solid black; */
}

a {
    text-decoration: none;
    color: rgb(14, 96, 172);
}

.menu-item-number {
    position: relative;
    right: 50px;
    font-size: large;
    /* border: 2px solid blue; */

}

.menu-item-desc {
    line-height: 1.6;
    border: 2px solid blue;
}