*{
    box-sizing: border-box;
}
/*menu item container - includes all items*/
.menu-item{
    display: flex;
    max-width: 800px;
    position: relative;
    border: 2px solid black;
}
/*Image style part*/
.menu-item-img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 10px;
    top: 7px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

/*Working with text part*/
.menu-item-text{
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

  .menu-item-name {
    position: relative;
    margin-right: 1.5em;
    /* border: 2px solid black; */
  }

  .menu-item-number{
    position: relative;
    right: 38px;
    font-size: large;
    /* border: 2px solid blue; */
    
  }
  
  .menu-item-desc {
    line-height: 1.6;
    border: 2px solid blue;
  }


