*{
    box-sizing: border-box;
}


/*menu item container - includes all items*/
.menu-item{
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    max-width: 800px;
    min-height: 120px;
    position: relative;
    margin-top: 20px;

    background-color: rgb(200, 225, 200);
    box-shadow: 10px 10px rgb(155, 185, 155);
    border: 2px solid rgb(48, 161, 26);

}
/*Image style part*/
.menu-item-img {
    width: 100px;
    height: 100px;
    position: relative;
    left: 10px;
    top: 7px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

/*Working with text part*/
.menu-item-text{
    flex-grow: 1;
    position: inherit;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

  .menu-item-name {
    position: relative;
    margin-right: 1.5em;
    /* border: 2px solid black; */
  }

  a{
    text-decoration: none;
    color: rgb(14, 96, 172);
  }

  .menu-item-number{
    position: relative;
    right: 50px;
    font-size: large;
    /* border: 2px solid blue; */
    
  }
  
  .menu-item-desc {
    line-height: 1.6;
    border: 2px solid blue;
  }


